@use './scss/variables.scss' as *;

@font-face {
    font-family: 'Play';
    src: url('./assets/fonts/Play-Regular.ttf');
}

.app {
    justify-content: center;
    position: relative;
    display: flex;
    text-align: center;
}

.absolute {
    position: absolute;
    top: 0;
    right: 1rem;
}