.chat {
    @font-face {
        font-family: 'PixelifySans-Medium';
        src: url('../../assets/fonts/PixelifySans-Medium.ttf');
    }

    @font-face {
        font-family: 'PixelifySans-Bold';
        src: url('../../assets/fonts/PixelifySans-Bold.ttf');
    }

    display: flex;
    flex-direction: column;
    position: relative;
    width: 600px;
    height: 600px;

    border: solid black 7px;
    background-color: rgb(158, 66, 0);

    font-family: 'PixelifySans-Medium', sans-serif;
    overflow: hidden;

    &-user-info {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
        border-bottom: solid black 3px;
        
        span {
            display: block;
            font-size: 1.2em;
        }
    }

    &-messages {
        flex: 1; 
        overflow-y: auto;
        padding: 10px 5px;
        text-align: left;
        word-wrap: break-word;
        
        .message {
            margin-bottom: 10px;
            padding: 8px;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 5px;
            border-left: solid 3px rgb(63, 26, 0);
            
            &-author {
                font-weight: bold;
                color: rgb(255, 200, 150);
                margin-right: 5px;
            }
            
            &-time {
                color: rgb(200, 200, 200);
                font-size: 0.9em;
                margin-right: 5px;
            }
            
            &-text {
                word-break: break-word;
                white-space: normal;
                display: inline;
            }
        }
    }

    &-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(63, 26, 0);
        border-top: solid black 7px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        
        input {
            flex: 1;
            margin: 0;
            padding: 8px 12px;
            background-color: aquamarine;
            border: solid black 3px;
            font-family: 'PixelifySans-Medium', sans-serif;
            font-size: 1em;
            min-width: 0;
            
            &:focus {
                outline: none;
                background-color: rgb(127, 255, 212);
            }
        }
    }

    .chatIconeDiv {
        background-color: rgb(63, 26, 0);
        border: solid black 0px;
        border-radius: 0%;
        height: max-content;
        width: max-content;
        margin-left: 10px;
        padding: 5px;
        
        &:hover {
            background-color: rgb(83, 46, 20);
        }
    }
    
    .chatIcone {
        height: 40px;
        width: 40px;
    }
}