.chat {
    margin-top: 50px;
    @font-face {
        font-family: 'PixelifySans-Medium';
        src: url('../../assets/fonts/PixelifySans-Medium.ttf');
    }

    @font-face {
        font-family: 'PixelifySans-Bold';
        src: url('../../assets/fonts/PixelifySans-Bold.ttf');
    }

    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 400px;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);

    font-family: 'PixelifySans-Medium', sans-serif;

    &-messages {
        text-align: left;
        padding-left: 5px;
    }

    &-inputs {
        display: flex;
        flex-direction: column;

        input {
            margin: 10px;
            padding: 0 10px 5px 10px;
            background-color: aquamarine;
            width: 300px;
        }
    }

    &-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%; 
        margin-top: auto;
        position: relative; 
        min-height: 50px; 
    }

    .chatIconeDivBack {
        background-color: rgb(0, 0, 0, 0.6);
        border-radius: 10px;
        width: max-content;
        border: 0;
        position: absolute;
        right: 0;
        min-width: 80px;
        min-height: 10px;

    }

    .chat-buttons {
        background-color: rgb(0, 0, 0, 0.6);
        border-radius: 10px;
        width: 100%;
    }
}