.chat {
    margin-top: 50px;
    @font-face {
        font-family: 'PixelifySans-Medium';
        src: url('../../assets/fonts/PixelifySans-Medium.ttf');
    }

    @font-face {
        font-family: 'PixelifySans-Bold';
        src: url('../../assets/fonts/PixelifySans-Bold.ttf');
    }

    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 400px;
    width: 600px;
    height: 600px;

    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);

    font-family: 'PixelifySans-Medium', sans-serif;

    &-messages {
        margin-top: 15px;
        flex: 1; 
        overflow-y: auto;
        padding: 10px 5px;
        text-align: left;
        word-wrap: break-word;
        
        .message {
            margin-bottom: 10px;
            padding: 8px;
            background-color: rgba(255, 255, 255, 0.1);
            
            &-author {
                font-weight: bold;
                color: rgb(255, 200, 150);
                margin-right: 5px;
            }
            
            &-time {
                color: rgb(200, 200, 200);
                font-size: 0.9em;
                margin-right: 5px;
            }
            
            &-text {
                word-break: break-word;
                white-space: normal;
                display: inline;
            }
        }
    }

    &-inputs {
        display: flex;
        flex-direction: column;

        input {
            margin: 10px;
            padding: 0 10px 5px 10px;
            background-color: aquamarine;
            width: 300px;
        }
    }

    &-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%; 
        margin-top: auto;
        position: relative; 
        min-height: 50px; 
    }

    .chatIconeDivBack {
        background-color: rgb(0, 0, 0, 0.6);
        border-radius: 15px;
        width: max-content;
        border: 0;
        position: absolute;
        right: 0;
        min-width: 80px;
        min-height: 10px;

    }

    .chat-buttons {
        background-color: rgb(0, 0, 0, 0.6);
        border-radius: 15px;

    }

    .inputChat {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}