.buy-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.buy-menu-container {
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 300px;
}

.buy-menu-title {
    color: white;
    text-align: center;
    margin: 0 0 10px 0;
}

.buy-menu-item {
    background-color: #34495e;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-menu-item-text {
    color: white;
}

.buy-menu-close-button {
    margin-top: 10px;
}

.building-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.building-name {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.building-details {
    color: #bdc3c7;
    font-size: 14px;
}

.unit-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.unit-name {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.unit-details {
    color: #bdc3c7;
    font-size: 14px;
}

.back-to-village-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid #0f0f0f;
    background-color: #0000009d;
    color: #dfdfdf;
    font-size: 14px;
    font-family: 'PixelifySans-Medium';
    outline: none;
    z-index: 100;
    
    &.bottom-right {
        top: auto;
        left: auto;
        bottom: 4%;
        right: 4%;
    }
}

@font-face {
    font-family: 'PixelifySans-Regular';
    src: url('../../assets/fonts/PixelifySans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}